.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    
    padding-top: 16px;
    padding-bottom: 64px;
}

.navbar .identity {
    display: flex;
    align-items: center;
    gap: 8px
}
