.form .cta {
    padding: 12px 28px;

    font-size: var(--fs-md);
    font-weight: 600;

    background-color: var(--clr-pink-500);
    color: var(--clr-black);

    border-radius: 9999px;
}

.form .number-input {
    padding: 16px 32px;

    background-color: var(--clr-gray-200);
    border: 1px solid var(--clr-gray-300);
    border-radius: 9999px;

    text-align: center;
    font-size: var(--fs-sm);
}
