.headline {
    max-width: 12ch;
    line-height: 81%;

    font-family: var(--ff-header);
    font-size: var(--fs-xl);
    text-align: center;
}

.headline .teal {
    color: var(--clr-teal-500);
}

.sub-headline {
    font-size: var(--fs-sm);

    color: var(--clr-gray-700);

    max-width: 24ch;
    text-align: center;
}  

.home-accent-img {
    width: 100%;
}
