.result-display {
    padding: 18px;

    background-color: var(--clr-gray-200);

    border: 1px solid var(--clr-gray-300);
    border-radius: 8px;
}

.sign-img {
    height: 96px;
}

.result-info {
    font-size: var(--fs-lg);
    font-family: var(--ff-header);
    text-align: center;

    max-width: 32ch;
}

.result-info .teal {
    color: var(--clr-teal-500);
}

.result-info .pink {
    color: var(--clr-pink-500);
}

@media (min-width: 800px) {
    .sign-img {
        height: 128px;
    }

    .result-display {
        padding: 32px;
    }
}
