@font-face {
    font-family: instrument-sans;
    src: url("../../assets/fonts/instrument-sans/instrument-sans.ttf");
}

@font-face {
    font-family: bebas-neue;
    src: url("../../assets/fonts/bebas-neue/bebas-neue.ttf");
}
